*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none ;
}

nav{
    height: 90px;
    background: rgb(55,53,53);
    width: 100%;
    position: fixed;
    top: 0;

}
nav img{
    width: 150px;
    position: absolute;
    top: -1%;
    left: 7%;
    height: 110px;

}

nav ul{
    float: right;
    margin-right:30px;
}

nav ul li{
    display: inline-block;
    line-height: 87px;
    margin: 0px 70px;
}

nav ul li a{
    position: relative;
    color: white;
    font-weight: 800;
    font-size: 22px;
    text-transform: uppercase;
    padding: 5px 0px;
}
nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s linear ;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.home{
    margin-top: 90px;
    background: linear-gradient(90deg, #323333 8%, #484844 33%, #525050 66%, #242323 100%);
    padding: 100px 950px 50px 540px;
    }

.home img{
    height: 350px;
    width: 350px;
    border-radius: 220px;
    border: 18px solid rgb(17, 128, 105);
    margin-left: 76px;  
    box-shadow:  0 0 35px 26px  rgb(85, 167, 150);
}

.home .home_border{
    height: 460px;
    width: 500px;
    background: rgb(32, 32, 32);
    text-align: center;
    margin-top: -200px;
    padding-top: 235px;
    border-radius: 25px;
    
}

.home .home_border .hero_name{
    text-transform: uppercase;
    font-size: 36px;
    color: white;
    padding-top: 20px;
}
.home .home_border .hero_job{
    text-transform: capitalize;
    font-size: 20px;
    line-height: 40px;
    color: white;
}

.home_icons{
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 40px 0 40px;
}

#facebook,#twitter,#git,#linkdin,#insta{
    font-size: 25px;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 13px;
    margin-top: -15px;
}



@media (max-width:1125px){
    nav img{
        left: 5%;
        height: 105px;
        width: 135px;
    }
    
    nav ul li {
        margin: 0px 50px;
    }
    nav ul li a{
        font-size: 19px;
    }

    .home{
        padding: 100px 950px 45px 475px;
        }
    
    .home img{
        width: 340px;
        margin-left: 80px;  
        box-shadow:  0 0 30px 28px  rgb(85, 167, 150);
    }
    
    .home .home_border{
        height: 455px;
        margin-top: -200px;
        padding-top: 233px;
        
    }
    
    .home .home_border .hero_name{
        font-size: 35px;
        padding-top: 22px;
    }
    .home .home_border .hero_job{
        font-size: 20px;
        line-height: 40px;
    }
    
    .home_icons{
        padding-top: 39px;
        margin: 0 38px 0 38px;
    }
    
    #facebook,#twitter,#git,#linkdin,#insta{
        font-size: 23px;
        padding: 12px;
    }
}


@media (max-width:920px){
    nav img{
        left: 5%;
        height: 100px;
        width: 125px;
        top: -0.4%;
        position: fixed;

    }
    nav ul li {
        margin: 0px 30px;
    }
    nav ul li a{
        font-size: 17px;
    }
}


@media (max-width:775px){

    nav{
        height: 81px;
    }

    nav img{
        left: 10%;
        height: 88px;
        width: 100px;
        top: -0.5%;
    }

    label #btn{
        display: block;
    }
    
    ul{
        position: fixed;
        width: 45%;
        height: 70vh;
        background: rgb(55,53,53);
        top: 80px;
        left: -50%;
        text-align: center;
        transition: all 1.5s ;
        /* padding-bottom: 10px; */
        
    }

    nav ul li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 19px;
        transition: 1s;
    }
    nav ul li a:hover{
        font-size: 22px;
    }
    label #btn,
    label #cancel{
    color: white;
    line-height: 85px;
    margin-right: 30px;
    }
    #check:checked ~ ul{
        left: 55%;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
    .home{
        margin-top: 68px;
        padding: 50px 250px 50px 270px;    /*270*/
        text-align: center;
        }
    
    .home img{
        height: 150px;
        width: 150px;
        border-radius: 220px;
        border: 8px solid rgb(17, 128, 105);
        margin-left: 40px;  
        box-shadow:  0 0 13px 12px  rgb(85, 167, 150);
        margin-right: 60px;
    }
    
    .home .home_border{
        height: 220px;
        width: 230px;
        margin-top: -77px;
        padding-top: 55px;
        border-radius: 15px;
        
    }
    
    .home .home_border .hero_name{
        font-size: 17px;
        padding-top: 54px;
    }
    .home .home_border .hero_job{
        font-size: 11px;
        line-height: 25px;
    }
    
    .home_icons{
        padding-top: 18px;
        margin: 0 15px 0 15px;
        padding-bottom: 40px;
    }
    
    #facebook,#twitter,#git,#linkdin,#insta{
        font-size: 13px;
        border-radius: 50px;
        padding: 6px;
    }
    


}

@media (max-width:650px){
    
    .home{
        padding-left:215px;
        }
}

@media (max-width:600px){
    
    .home{
        padding-left:165px;
        
        }
}
@media (max-width:450px){
    
    .home{
        padding-left:120px;
        
        }
}

@media (max-width:405px){
    
    .home{
        padding-left:90px;
        }
}